/*! https://github.com/jquery/typesense-minibar v1.0.0 */
.tsmb-form {
  --tsmb-size-sm: 0.8rem;
  --tsmb-size-base: 1rem;
  --tsmb-border-radius: 3px;

  --tsmb-color-base-background: #fff;
  --tsmb-color-base30: #333;
  --tsmb-color-base50: #63676d;
  --tsmb-color-base90: #cdcdcd;
  --tsmb-color-focus-background: #fff;
  --tsmb-color-focus30: #333;
  --tsmb-color-focus50: #63676d;
  --tsmb-color-focus90: #cdcdcd;

  /**
   * Usage: dark text (on light background), dark background
   */
  --tsmb-color-primary30: #390f39;
  /***
   * Usage: primary link color, primary button background
   */
  --tsmb-color-primary50: #9c3493;
  /**
   * Usage: light text (on dark background), light background ("selected")
   */
  --tsmb-color-primary90: #fbdbfb;

  position: relative;
  width: 20rem;
  max-width: 100%;
  color: var(--tsmb-color-base30);
}

.tsmb-form input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: inherit;
  background: var(--tsmb-color-base-background);
  padding: var(--tsmb-size-sm) var(--tsmb-size-sm) var(--tsmb-size-sm) calc(var(--tsmb-size-base) + var(--tsmb-size-sm) + var(--tsmb-size-sm));
  border: 1px solid var(--tsmb-color-base90);
  border-radius: var(--tsmb-border-radius);
  font-size: var(--tsmb-size-base);
  width: 100%;
}

.tsmb-form input[type=search]::placeholder {
  color: var(--tsmb-color-base50);
  opacity: 1;
}

.tsmb-form:focus-within {
  color: var(--tsmb-color-focus30);
}
.tsmb-form:focus-within input[type=search] {
  background: var(--tsmb-color-focus-background);
}
.tsmb-form:focus-within input[type=search]::placeholder {
  color: var(--tsmb-color-focus50);
}

.tsmb-form input[type=search]::-webkit-search-decoration,
.tsmb-form input[type=search]::-webkit-search-cancel-button,
.tsmb-form input[type=search]::-webkit-search-results-button,
.tsmb-form input[type=search]::-webkit-search-results-decoration {
  display: none;
}

/* input icon */
.tsmb-form::before {
  content: "";
  background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='654 -372 1664 1664' width='20' height='20'><path d='M1806,332c0-123.3-43.8-228.8-131.5-316.5C1586.8-72.2,1481.3-116,1358-116s-228.8,43.8-316.5,131.5 C953.8,103.2,910,208.7,910,332s43.8,228.8,131.5,316.5C1129.2,736.2,1234.7,780,1358,780s228.8-43.8,316.5-131.5 C1762.2,560.8,1806,455.3,1806,332z M2318,1164c0,34.7-12.7,64.7-38,90s-55.3,38-90,38c-36,0-66-12.7-90-38l-343-342 c-119.3,82.7-252.3,124-399,124c-95.3,0-186.5-18.5-273.5-55.5s-162-87-225-150s-113-138-150-225S654,427.3,654,332 s18.5-186.5,55.5-273.5s87-162,150-225s138-113,225-150S1262.7-372,1358-372s186.5,18.5,273.5,55.5s162,87,225,150s113,138,150,225 S2062,236.7,2062,332c0,146.7-41.3,279.7-124,399l343,343C2305.7,1098.7,2318,1128.7,2318,1164z'/></svg>") 0 0 / contain no-repeat;
  position: absolute;
  top: 50%;
  left: var(--tsmb-size-base);
  width: var(--tsmb-size-base);
  height: var(--tsmb-size-base);
  transform: translateY(-50%);
  opacity: 0.5;
}

.tsmb-icon-close {
  position: absolute;
  top: 50%;
  right: var(--tsmb-size-base);
  width: var(--tsmb-size-base);
  height: var(--tsmb-size-base);
  transform: translateY(-50%);

  stroke: currentColor;
  border: 1px solid currentColor;
  border-radius: 50%;
  cursor: pointer;
}

.tsmb-form--open .tsmb-icon-close {
  display: block !important;
}

.tsmb-form--slash:not(.tsmb-form--open):not(:focus-within)::after {
  content: '/';
  display: inline-block;
  position: absolute;
  top: 50%;
  right: var(--tsmb-size-base);
  width: 2em;
  height: 2em;
  transform: translateY(-50%);

  font-size: var(--tsmb-size-sm);
  line-height: 2;
  text-align: center;

  border: 1px solid var(--tsmb-color-base90);
  border-radius: var(--tsmb-border-radius);
  color: var(--tsmb-color-base90);
}

.tsmb-form [role=listbox] {
  position: absolute;
  z-index: 10;

  background: var(--tsmb-color-focus-background);
  color: var(--tsmb-color-focus30);
  width: 100%;
  max-height: 60vh;
  overflow: auto;
  border: 1px solid var(--tsmb-color-focus90);
  box-shadow: 0 var(--tsmb-size-sm) 20px rgba(0,0,0,0.12);
}

.tsmb-suggestion_group {
  margin: var(--tsmb-size-sm) var(--tsmb-size-sm) 0 var(--tsmb-size-sm);
  border-bottom: 1px solid var(--tsmb-color-focus90);
}

.tsmb-form [role="option"] a {
  display: block;
  padding: var(--tsmb-size-base);
  text-decoration: none;
  border-left: 2px solid transparent;
}
.tsmb-form [role="option"]:not(:first-child) a {
  border-top: 1px solid var(--tsmb-color-focus90);
}
.tsmb-form--group [role="option"] a {
  margin: 0 var(--tsmb-size-sm);
  padding: var(--tsmb-size-sm);
}
.tsmb-form--group [role="option"] .tsmb-suggestion_group + a {
  border-top: 0;
}

.tsmb-form [role="option"] a:hover,
.tsmb-form [role="option"][aria-selected="true"] a {
  background: var(--tsmb-color-primary90);
  border-left: 2px solid var(--tsmb-color-primary50);
}

.tsmb-form [role="option"] mark {
  background: none;
  color: inherit;
  font-style: normal;
  font-weight: bold;
}

.tsmb-suggestion_group,
.tsmb-suggestion_title,
.tsmb-suggestion_content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tsmb-suggestion_title {
  color: var(--tsmb-color-primary30);
}
.tsmb-form--group .tsmb-suggestion_title {
  font-weight: bold;
  font-size: var(--tsmb-size-sm);
}

.tsmb-suggestion_content {
  font-size: var(--tsmb-size-sm);
  color: var(--tsmb-color-focus50);
}

.tsmb-empty {
  padding: var(--tsmb-size-base);
}

@media (max-width: 480px) {
  .tsmb-form {
    width: 100%;
  }

  .tsmb-form input[type=search] {
    border-radius: 0;
  }
}

@media (min-width: 768px) {
  .tsmb-form [role=listbox] {
    border-radius: var(--tsmb-border-radius);
    min-width: 500px;
    margin-top: calc(var(--tsmb-size-sm) / 2);
  }

  .tsmb-form--slash::after {
    display: none;
  }
}
