* {
  box-sizing: border-box;
}

header {
  background: #390f39;
  color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  display: flex;
  flex-flow: row wrap;
  position: relative;
  gap: 0.6665rem;
}

header > * {
  align-self: center;
}

.demo-logo {
  background-image: url(../assets/logo-text-dark.svg);
}

header .tsmb-form,
header typesense-minibar {
  --tsmb-color-base-background: #691c69;
  --tsmb-color-base30: var(--tsmb-color-primary90);
  --tsmb-color-base50: #c090c0;
  --tsmb-color-base90: #c090c0;
  --tsmb-size-listbox-width: calc(min(50rem, 80vw));
}
header .tsmb-form,
header typesense-minibar form {
  width: 30em;
}
header .tsmb-form:not(:focus-within)::before,
header typesense-minibar form:not(:focus-within)::before {
  filter: invert();
}
header .tsmb-form input[type=search],
header typesense-minibar input[type=search] {
  border: none;
}
