html {
  margin: 0;
  background: #f4f4f4;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Lato, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  margin: 0;
}

a {
  color: #9c3493;
}

a,
a:active,
a:hover,
a:focus {
  text-decoration: underline;
}

header,
main,
.demo-stylecontrol {
  padding: 1rem;
}

.demo-logo {
  display: flex;
  font-size: 1.333rem;
  font-weight: bold;
  margin: 1rem 0;
  text-decoration: none;

  height: 2.3rem;
  width: 9.2rem;

  background: url(../assets/logo-text.svg) left center no-repeat;
  background-size: contain;
  text-indent: -9999px;
  overflow: hidden;
}
.demo-caption {
  flex-grow: 1;
}
.demo-head-right .demo-caption {
  text-align: right;
}

/* Layout: Push demo-stylecontrol to the bottom. */
body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}

.tsmb-form.demo-form-size {
  --tsmb-size-input: 2rem;
  --tsmb-size-radius: 0px;
  --tsmb-size-listbox-width: calc(min(50rem, 80vw));
  width: 30rem;
}

html:has(.demo-form-overlay:focus-within) {
  /* disable scrollbar */
  overflow: hidden;
}
typesense-minibar.demo-form-overlay:focus-within {
  z-index: 1;
  position: fixed;
  inset: 0px;
  background: #f4f4f4;
  padding: var(--tsmb-size-sm) 0;
}
typesense-minibar.demo-form-overlay:focus-within form {
  width: 30rem;
  margin: 0 auto;
}


.demo-head-right typesense-minibar,
.demo-head-right .tsmb-form {
  margin-left: auto;
  --tsmb-size-listbox-right: 0;
}

.demo-stylecontrol fieldset {
  background: #fff;
}
@media (min-height: 750px) {
  .demo-stylecontrol {
    position: sticky;
    bottom: 0;
    background: #f4f4f4;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.24)
  }
}
