html {
  margin: 0;
  background: #f4f4f4;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Lato, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  margin: 0;
}

a {
  color: #9c3493;
  text-decoration: none;
}

a:active,
a:hover,
a:focus {
  text-decoration: underline;
}

header,
main,
.demo-stylecontrol {
  padding: 1rem calc((100% - 65rem) / 2) 0 1rem;
}

.demo-logo {
  display: flex;
  font-size: 1.333rem;
  font-weight: bold;
  margin: 1rem 0;
  text-decoration: none;

  height: 2.3rem;
  width: 9.2rem;
}

.demo-logo-img {
  background: url(../assets/logo-text.svg) left center no-repeat;
  background-size: contain;
  text-indent: -9999px;
  overflow: hidden;
}

/* Layout: Push demo-stylecontrol to the bottom. */
body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}

.demo-custom-form {
  --tsmb-size-input: 2rem;
  --tsmb-size-sm: 0.5rem;
  --tsmb-size-radius: 0px;
  width: 30rem;
}

.demo-stylecontrol fieldset {
  background: #fff;
}
